<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe non earum repellat iusto accusamus dolorem placeat dolor tenetur molestias, iste sunt. Dolores aliquid tempora cum distinctio tempore expedita deleniti cumque? Libero, quos.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe non earum repellat iusto accusamus dolorem placeat dolor tenetur molestias, iste sunt. Dolores aliquid tempora cum distinctio tempore expedita deleniti cumque? Libero, quos.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe non earum repellat iusto accusamus dolorem placeat dolor tenetur molestias, iste sunt. Dolores aliquid tempora cum distinctio tempore expedita deleniti cumque? Libero, quos.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

    
</body>
</html>